@import './assets/styles/app.css';

.fc-toolbar-title{
    font-size: 20px !important;
}

.highlighted-day{
    background-color: var(--color-yellow-100) !important;
}

.fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-number {
    border: none !important;
    color: #737373 !important;
}


.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}